/* global css variables */
:root {
  --clr-light: #fff;
  --clr-dark: #000;
  --clr-drk-blue: darkblue;
  --padding-sm: 10px;
  --padding-md: 20px;
  --padding-lg: 30px;
  --margin-sm: 10px;
  --margin-md: 20px;
  --margin-lg: 30px;
  --font-sm: 16px;
  --font-md: 18px;
  --font-lg: 22px;
  --font-xl: 26px;
  --text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* universal */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
/* html */
html {
  height: 100%;
}
/* body */
body {
  background-color: rgb(199, 199, 238);
}

/*gift section  */
#gift {
  padding: var(--padding-lg);
  height: 100%;
}

/* gift-img */
.gift-img {
  margin-bottom: var(--margin-md);
}
.gift-img img {
  width: 100%;
  border-radius: 10px;
}

/* gift-info */

/* gift-title */
.gift-info .title {
  text-transform: uppercase;
  line-height: 40px;
  font-size: var(--font-xl);
  color: var(--clr-drk-blue);
  text-shadow: var(--text-shadow);
  white-space: nowrap;
  margin-bottom: var(--margin-md);
}
/* giveaway end */
.gift-info .giveaway-end {
  text-transform: capitalize;
  font-size: var(--font-md);
  color: var(--clr-light);
  text-shadow: var(--text-shadow);
  margin-bottom: var(--margin-md);
}
/* giveaway text */
.gift-info p {
  font-size: var(--font-sm);
  font-weight: 300;
  color: rgb(35, 32, 32);
}

/* countdown */
.gift-info .countdown {
  margin-top: var(--margin-lg);
  margin-bottom: var(--margin-lg);
  display: flex;
  column-gap: 20px;
  text-transform: capitalize;
}
.countdown div {
  border: 2px black solid;
  width: 80px;
  height: 70px;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--clr-dark);
}
.countdown div h4 {
  font-size: var(--font-xl);
  color: var(--clr-light);
}
.countdown div span {
  font-size: var(--font-sm);
  font-weight: 600;
  color: var(--clr-light);
}

/* *******MEDIA QUERIES FOR RESPONSIVENESS******** */

/* 750 */
@media screen and (min-width: 700px) {
  #gift {
    display: flex;
    padding: 62px;
    justify-content: center;
    column-gap: 41px;
  }

  .gift-img {
    width: 36%;
  }
  .gift-img img {
    width: 100%;
  }
  .gift-info {
    width: 70%;
  }
}
